h1 {
  font-family: $headings-font;
  font-size: $font-size * 7;
  color: rgba(255, 255, 255, 0.6);
}

h2 {
  margin: 100px;
  text-align: center;
  font-size: $font-size * 2;
}

h3 {
  font-size: $h3-font-size;
  color: $h3-colour;
  font-weight: bold;
}

body {
  font-family: $body-font;
  font-size: $font-size;
  color: $body-colour;
}

#container {
  width: 85vw;
  margin: 0 auto;
}

a {
  text-decoration: none;

  &:hover {
    color: $link-hover-colour;
  }
}
