$container-colour: #DCDCDC;
$header-colour:  #3F3F3F;
$headings-colour: #000;
$h3-colour: #FFF;
$body-colour: #00303F;
$link-hover-colour: #1098F7;
$user-name-colour: #1098F7;

// Materialize palette

$primary-color: #333333 !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;
