.landing-container {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/81D8ueVCzcL._SL1500_.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
